@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {

    --branco: #ffffff;
    --preto: #000000;
    --verde-menu: #195F25;
    --verde-botao: #1C8835;
    --verde-claro: #67AD24;
    --verde-escuro: #022F0A;
    --verde-bg: linear-gradient(180deg, #155C25 0%, #9FC51F 100%);
    
}


body {
    background: var(--verde-bg);

}